body {
  font-family: Arial, sans-serif;
}

header {
  min-height: 300px;
  background-color: #22c7b8;
}

a {
  text-decoration: none;
}

.footer {
  background-color: #22c7b8;
}

.app-store-badge {
  width: 140px;
  height: auto;
  vertical-align: middle;
}

.google-play-badge {
  width: 180px;
  height: auto;
  vertical-align: middle;
}
